{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}


<div class="site-section">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <a class="back-to-products-link" href="{% url 'staff:product-list' %}">⟵ Back</a>
                <hr>
                <h4 class="add-product-title mb-4">Add New Drawing</h4>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="add-product-btn">+ Add/Update Masterpiece!</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}