{% load static %}


<footer class="site-footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <p class="flexed">

                    Contact Developer | <a class="contact-icon ml-2 mr-3" href="https://github.com/DelroyBrown28"
                        target="_blank"><i class="fab fa-github-alt"></i></a>
                    <a class="contact-icon" href="https://www.instagram.com/delroyjbrown/" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                </p>
            </div>
        </div>
    </div>
</footer>